<div class="p-3">
    <h2 id="title">Welcome to Ember</h2>
    {{button-basic
        type="primary"
        icon="remove"
        label="Remove"
        tooltip="Hi! I'm a tooltip!"
    }}
    {{outlet}}
</div>
